html, body
  font-family: 'Open Sans', serif
  font-size: 16px
  line-height: 1.5
  height: 100%
  background: #ECF0F3

nav.navbar
  border-top: 4px solid #276cda
  margin-bottom: 1rem

.navbar-item
  &.brand-text
    font-weight: 300
  font-size: 14px
  font-weight: 700

.navbar-link
  font-size: 14px
  font-weight: 700

.columns
  width: 100%
  height: 100%

.menu-label
  color: #8F99A3
  letter-spacing: 1.3
  font-weight: 700

.menu-list a
  color: #0F1D38
  font-size: 14px
  font-weight: 700
  &:hover
    background-color: transparent
    color: #276cda
  &.is-active
    background-color: transparent
    color: #276cda
    font-weight: 700

.card
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18)
  margin-bottom: 2rem

.card-header-title
  color: #8F99A3
  font-weight: 400

.info-tiles
  margin: 1rem 0
  .subtitle
    font-weight: 300
    color: #8F99A3

.hero.welcome
  &.is-info
    background: #36D1DC
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC)
    background: linear-gradient(to right, #5B86E5, #36D1DC)
  .title, .subtitle
    color: hsl(192, 17%, 99%)

.card .content
  font-size: 14px

.card-footer-item
  font-size: 14px
  font-weight: 700
  color: #8F99A3
  &:hover

.card-table .table
  margin-bottom: 0
  max-width: 450px
  overflow: scroll

.events-card .card-table
  max-height: 250px
  overflow-y: scroll

.tile
  overflow: auto
